.body{
    background:#383838;
    font-family: serif;
    font-style: italic;
    color: #333333;
    font-size: 20px;
    font-weight:bold;
    text-align: center;
    font-style: normal;
    background-color: white;
 }
.header {
    border-width: 0px;
    padding: 5px;
    text-align: right;
    border-color: #1D7373;
    font-family: serif;
    font-weight: bold;
    font-style: normal;
    font-size: 20px;
    border-style: solid;
    background-color: white;
    position: relative;
    background: url('../img/background__header.png');      
    background-repeat: no-repeat;
    height: 500px;
 }
 .header_myname{
  margin: 0px;
  padding: 0px;
  position: absolute;
  right:350px;
  top: 100px;
  color:white;
  font-size: 40px;

 }
 
 .header_menu{
    list-style-type: none;


 }

 .header_menu_item{
    float:right;
    margin-right: 5px;
 }

 .lionid_kroll_div{
   position: absolute;
   bottom:280px;
   right: 400px;


 }

 .lionid_kroll_text{

 }

.avatar{
   position: absolute;
   bottom:-180px;
   right: 480px;
   
   
   /*bottom: inherit;*/

 }

/*.body{
    background:#383838;
    font-family: serif;
    font-style: italic;
    color: #333333;
    font-size: 20px;
    font-weight:bold;
    text-align: center;
    font-style: normal;
    background-color: white;
 }*/


.text__menu {
    text-decoration: dotted;  
 }

.about{
  margin-top:180px;
   font-family: serif;
   font-style: italic;
   color: #333333;
   font-size: 20px;
   font-weight:bold;
   text-align: center;
   font-style: normal;
   height: 500px;

 }

/*.content{
    font-family: serif;
    background-color: #383838;
    color: #333333;
    font-size: 25px;
    font-weight:300px;
    text-align: center;
    height:500px;
    background-color: white;
 }*/

.slider__list{
   list-style-type: none;
 }

.slider {
  width: 200px;
  height: 300px;
  overflow:hidden;
   
 }

.slider_dir{
  width: 999999999px;
  height: 200px;
  /*overflow:hidden;*/

 }

.slider__item{
   /*display:inline;*/
   float:left;
   margin:0 20px 0 0;
   /*padding: 10px;*/
   height: 200px;
   width: 200px;
   background:#333;
   color:white;
   list-style: none;
 }
 .news__link{
   text-decoration:none;
   color: white;
   list-style-type: none;
   font-size: 30px;
 }

.footer{
    border-width: 0px;  
    border-color: #1D7373;
    border-style: solid;
    background-color: #383838;
    height: 80px;
    background-color: white;
    /*clear: both;*/
 }  

.footer__contacts{
  list-style-type: none;

 }

.footer__contacts__item{
   display: inline;
   padding: 10px;

 }

.contacts{
   text-decoration:none; 
 }